<section class="content">
  <div class="row">
    <h1 class="text-center" id="Qui">Le Bas-Moteur ? Quèsaco ?!</h1>
      <img src="assets/img/icon_burger.png"  style="width:65px;height:46px;">
      <div class="para">
      <p class="text-center">Le Bas Moteur est un camion ravitailleur itinérant à Strasbourg et ses environs, nous distribuons sandwichs, burgers, frites, salades, desserts et cafés.
      En effet, ce projet a pour idée de rapprocher les produits de qualité que nous trouvons en France et la tradition de la street food développé aux Etats-Unis,
      dans le but de mettre en avant une street cuisine française bien loin du traditionnel jambon-beurre ou des chaînes de restauration rapide.<br/>
      Le bas Moteur est à l’image de ses deux créateurs, Giusepe et Marco : simple et efficace</p>
      </div>
  </div>
  <div class="line"></div> <hr />
    <div class="row">
      <h1 class="titre2 text-center" id="Quoi">Ce pourquoi on se lève le matin</h1>
    <p class="small-6 small-offset-1 medium-6 medium-offset-1 para1">A l’origine du Bas Moteur il y a une idée simple : créer une société qu’on n’aurait jamais envie de vendre. Mettre un coup de clef de 18 dans les molaires de la mal bouffe. Travailler avec des potes. Bosser quand on veut, où on veut, habillé comme on veut. Créer des produits qu’on a nous-mêmes envie de consommer. Toutes ces petites choses qui changent la vie , donnent du sens, et rendent le travail... différent . Au bout il y aura le succès ou l’échec, nous verrons bien. Plus que le but, c’est la route qui compte.</p>
  </div>

    <div class="row">
      <img class="small-2 large-4 columns icon" src="assets/img/icon_truck.png">
      <hr class="line2" />
      <img class="small-6 large-4 columns icon" src="assets/img/icon_people.png">
    </div>

    <div class="row">
      <p class="small-6 small-offset-1 medium-6 medium-offset-1 para2">En créant notre Food-Truck une seule chose nous semblait évidente : nous voulions
      des produits qui nous ressemblent : simples, authentiques, au plus proche de la nature. Des produits sans prise de tête, faciles à comprendre et qui apportent quelque chose de nouveau. Et surtout des produits bons et sains. Fastfood MAIS de
      qualité !</p>
    </div>

<!-- IMG SEPARATION -->

    <div class="row">
      <section class="img">
        <div class="small-12 medium-12 large-6 columns">
          <img src="assets/img/img_gauche.png">
        </div>
        <div class="small-12 medium-12 large-6 columns">
          <img src="assets/img/img_droite.png">
        </div>
      </section>
    </div>

<!-- IMG SEPARATION -->

<!-- FORMULES -->


    <div class="row">
      <h1 class="titre2 text-center">Nos différentes formules</h1>
      <section id="Formules">
      <div class="small-12 medium-12 large-4 columns formule1 text-center">
        <h2 class="text-center">Formule : <br/>« Pas trop stp ! »</h2>
        <p class="pformule text-center">1 sandwich taille-S<br/> 1 boisson 33cl<br/> 1 dessert ou 1 café/cookie</p>
        <a class="prix text-center" href="#">7€50</a>
      </div>

      <div class="small-12 medium-12 large-4 columns formule2 text-center">
        <img src="assets/img/icon_magique.png">
        <h2 class="magique text-center">La formule magique !</h2>
        <h2 class="text-center">Formule : <br/>« A la bien ! »</h2>
        <p class="pformule text-center">1 sandwich taille-M<br/> 1 boisson 33cl<br/> 1 dessert ou 1 salade + 1 café – cookie</p>
        <a class="prixMagique text-center" href="#">10€50</a>
      </div>

      <div class="small-12 medium-12 large-4 columns formule3 text-center">
        <h2 class="text-center">Formule : <br/>« Ça va faire mal ! »</h2>
        <p class="pformule text-center">1 salade<br/> 1 sandwich taille-L<br/> 1 boisson 50cl<br/>1 dessert + 1 café/cookie</p>
        <a class="prix text-center" href="#">12€50</a>
      </div>
    </section>
    </div>

<!-- FORMULES -->

<!-- CONTACT GMAP -->

  <div class="row">
    <section class="contact" id="Quand">
      <div class="small-12 medium-12 large-6 columns">
        <h3 >Quand ?</h3>
        <p class="pcontact">Du lundi au vendredi : 10h45 - 18h30</p>
        <br/>
        <h3 id="Contact">Où ?</h3>
        <p class="pcontact">Place de l'étoile<br/>- face à la mairie - <br/> 67000 Strasbourg</p>
      </div>
      <div class="small-12 medium-12 large-6 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.8777978094085!2d7.751582915664329!3d48.5738892792606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c9abd43b8c07%3A0x340a5102e060dd37!2sPlace+de+l&#39;%C3%89toile%2C+Strasbourg!5e0!3m2!1sfr!2sfr!4v1481032598223" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </section>
  </div>

<!-- CONTACT GMAP -->

</section>
