<header>

    <a href="#"><img src="assets/img/logo.png" alt="logo"></a>
    <div class="row">
    <nav class="small-6 small-offset-1 small-centered columns">
      <ul class="menu">
        <li class="active"><a href="#">Accueil</a></li>
        <li><a data-scroll href="#Qui">Qui ?</a></li>
        <li><a data-scroll href="#Quoi">Quoi ?</a></li>
        <li><a data-scroll href="#Quand">Où et quand ?</a></li>
        <li><a data-scroll href="#Contact">Contact</a></li>
      </ul>
    </nav>
    </div>

</header>
